@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
}

.container {
  width: 1200px;
  user-select: none;
}

.head table {
  width: 100%;
}

.head table td {
  vertical-align: top;
}

.head table td table {
  width: 875px;
}

h1 {
  margin: 50px 20px 15px 75px;
  color: #333;
  font-size: 52px;
  font-weight: 300;
  text-transform: uppercase;
  font-family: "Comfortaa", cursive;
  padding-bottom: 5px;
  border-bottom: solid 2px rgb(15, 94, 160);
}

.head table ul {
  list-style-type: none;
  font-style: italic;
  margin-left: 10px;
}

.head table ul li {
  margin: 0 20px;
  display: inline-block;
  font-size: 20px;
  color: rgb(15, 94, 160);
  line-height: 32px;
  cursor: pointer;
  transition: 0.3s;
}
.head table ul li:hover {
  color: red;
}

.head .active {
  color: red;
}

.head table #insta {
  margin: 0 20px;
}

.head table p {
  margin: 0 20px;
  text-align: right;
  line-height: 32px;
}

.head table p a {
  text-decoration: none;
  color: rgb(15, 94, 160);
  padding-bottom: 1px;
}
.head table p a:hover {
  border-bottom: solid 1px rgb(15, 94, 160);
}

.categories ul {
  margin-top: 20px;
  list-style-type: none;
}

.categories ul > li {
  padding: 20px;
  display: inline-block;
  font-size: 17px;
  color: rgb(15, 94, 160);
  border-bottom: solid 1px rgb(15, 94, 160);
  cursor: pointer;
  transition: 0.3s;
}
.categories ul > li:hover {
  color: #000;
}

.categories .active {
  border: solid 1px rgb(15, 94, 160);
  border-radius: 7px 7px 0 0;
  border-bottom: none;
  cursor: auto;
}
.categories .active:hover {
  color: rgb(15, 94, 160);
}

.before-content {
  display: flex;
  justify-content: space-between;
  margin: 50px 20px 50px 0;
}

.before-content > div {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.sorting {
  margin-left: 0;
  color: #fff;
  border: solid 1px steelblue;
  background: rgba(70, 130, 180, 0.6);
  border-radius: 5px;
}
.sorting:hover {
  background: rgba(70, 130, 180, 0.9);
}
.sorting.active {
  border: solid 1px steelblue;
  background: rgba(70, 130, 180, 0.9);
  color: #fff;
}

.toggle-favorites {
  color: #fff;
  border: solid 1px brown;
  border-radius: 5px;
  background: rgba(165, 42, 42, 0.6);
}
.toggle-favorites:hover {
  background: rgba(165, 42, 42, 0.8);
}
.toggle-favorites.active {
  background: rgba(165, 42, 42, 0.8);
}

.search {
  color: #666;
  border: solid 1px #bbb;
  width: 600px;
  padding: 10px;
  border-radius: 5px;
}
.search:hover {
  border: solid 1px #666;
}

.main {
  display: flex;
  justify-content: space-between;
}

.content {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  box-sizing: border-box;
  margin-left: -30px;
}

.sidebar {
  width: 25%;
}

.tiser {
  width: 280px;
  margin-bottom: 50px;
  justify-content: center;
  text-align: center;
  transition: 0.3s;
}
.tiser:hover {
  transform: translateY(2px);
}

.tiser img {
  width: 200px;
  margin: 30px;
  padding: 10px;
  border: solid 1px #aaa;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.3s;
}

.tiser h2 {
  display: inline-block;
  color: steelblue;
  cursor: pointer;
  margin-bottom: 20px;
  padding-bottom: 1px;
  border-bottom: solid 1px #fff;
  transition: 0.3s;
}
.tiser h2:hover {
  border-bottom: solid 1px steelblue;
}

.tiser table {
  width: 250px;
}

.tiser td {
  padding: 5px;
}

.tiser td:nth-child(odd) {
  color: #666;
  text-align: right;
}

.tiser td:nth-child(even) {
  color: #000;
  text-align: left;
}

.tiser .buttons div {
  display: inline-block;
  margin: 30px 5px;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 4px #888;
  transition: 0.5s;
}
.tiser .buttons div:active {
  box-shadow: 0 1px 4px #888;
  transform: translateY(4px);
}

.tiser .tocart {
  border: solid 1px steelblue;
}
.tiser .tocart:hover {
  background: rgba(70, 130, 180, 0.9);
  color: #fff;
}
.tiser .tocart.active {
  background: rgba(70, 130, 180, 0.9);
  color: #fff;
}

.tiser .tofavorites {
  border: solid 1px brown;
}
.tiser .tofavorites:hover {
  background: rgba(165, 42, 42, 0.8);
  color: #fff;
}

.tofavorites.active {
  background: rgba(165, 42, 42, 0.8);
  color: #fff;
}

.pagination {
  width: 100%;
  text-align: center;
  margin: 0 auto 50px auto;
}

.pagination ul {
  list-style-type: none;
}

.pagination li {
  display: inline-block;
  width: 20px;
  padding: 10px;
  color: steelblue;
  border-bottom: solid 1px steelblue;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.pagination li:hover {
  background: rgba(70, 130, 180, 0.7);
  color: #fff;
}

.pagination li.active {
  background: rgba(70, 130, 180, 0.7);
  color: #fff;
}

.sidebar > div {
  margin: 30px 20px 30px 50px;
  padding: 20px;
  color: #666;
  text-align: center;
  border: solid 1px rgb(15, 94, 160);
  border-radius: 7px;
  background: #efefef;
  cursor: pointer;
  transition: 0.5s;
}
.sidebar > div:hover {
  background: #fff;
}

.sidebar > div > h3 {
  margin-bottom: 20px;
}

.sidebar > div > ul {
  text-align: left;
  line-height: 24px;
  list-style-type: none;
  margin-left: 30px;
  color: rgb(15, 94, 160);
}

.sidebar > div > ul > li:hover {
  transform: translateX(-20px);
  color: rgb(15, 94, 160);
}
.sidebar > div > ul > li:hover::before {
  content: "► ";
  color: rgb(15, 94, 160);
}
.sidebar > div > ul > li.active {
  transform: translateX(-20px);
  color: #000;
}
.sidebar > div > ul > li.active::before {
  content: "► ";
}

.sidebar select {
  margin-bottom: 20px;
  width: 200px;
  padding: 10px;
  color: #666;
  border: solid 1px #bbb;
  border-radius: 5px;
}

.sidebar select.first {
  margin-top: 25px;
}

.sidebar input {
  margin-bottom: 20px;
  padding: 10px;
  color: #666;
  border: solid 1px #bbb;
  border-radius: 5px;
}

.footer {
  border-top: solid 2px rgb(15, 94, 160);
  padding: 20px 0;
  margin-right: 30px;
  display: flex;
  justify-content: space-between;
}

.footer ul {
  list-style-type: none;
}

.footer ul > li {
  display: inline-block;
  margin-right: 30px;
  color: rgb(15, 94, 160);
  cursor: pointer;
  transition: 0.3s;
}
.footer ul > li:hover {
  color: #000;
}

.footer .author {
  color: #666;
}

.footer .author a {
  text-decoration: none;
  color: red;
  padding-bottom: 1px;
  transition: 0.3s;
}
.footer .author a:hover {
  border-bottom: solid 1px red;
}

.path ul {
  margin-top: 20px;
  list-style-type: none;
}

.path ul > li {
  padding: 20px 0;
  display: inline-block;
  font-size: 17px;
  color: rgb(15, 94, 160);
  cursor: pointer;
  transition: 0.3s;
}
.path ul > li:hover {
  color: #000;
}

.path .active {
  cursor: auto;
  color: #000;
}

.path ul > li::after {
  content: "►";
  margin: 0 10px;
}

.path ul > li:last-child::after {
  content: "";
}

.photo img {
  display: block;
  margin: 20px 0 0 30px;
  width: 300px;
  padding: 10px;
  border: solid 1px #888;
  border-radius: 7px;
}

.photo input {
  margin: 30px;
  width: 300px;
  padding: 10px;
  color: #666;
  border: solid 1px #bbb;
  border-radius: 5px;
}

.text {
  margin: 30px;
  width: 400px;
}

.text h2 {
  font-size: 40px;
  color: #666;
}

.text h3 {
  color: #888;
  margin: 15px 0;
}

.text h3 span {
  color: #666;
}

.text .price {
  margin-bottom: 40px;
}

.text .price span {
  color: red;
}

.text td {
  padding: 5px 20px 5px 0;
}

.text td:nth-child(odd) {
  color: #888;
}

.text td:nth-child(even) {
  color: #333;
}

.text hr {
  margin-top: 10px;
}

.text .buttons div {
  display: inline-block;
  margin: 30px 5px;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 4px #888;
  transition: 0.5s;
}
.text .buttons div:active {
  box-shadow: 0 1px 4px #888;
  transform: translateY(4px);
}

.text .tocart {
  border: solid 1px steelblue;
}
.text .tocart:hover {
  background: rgba(70, 130, 180, 0.9);
  color: #fff;
}

.text .tofavorites {
  border: solid 1px brown;
}
.text .tofavorites:hover {
  background: rgba(165, 42, 42, 0.8);
  color: #fff;
}

.text input {
  margin-bottom: 20px;
  width: 300px;
  padding: 10px;
  color: #666;
  border: solid 1px #bbb;
  border-radius: 5px;
}

.text .editline {
  margin-bottom: 25px;
  width: 320px;
  border: none;
  border-top: dashed 1px red;
}

.text textarea {
  width: 300px;
  padding: 10px;
  color: #666;
  border: solid 1px #bbb;
  border-radius: 5px;
}

.sidebar .cart {
  border: none;
  border-top: solid 1px #bbb;
  border-radius: 0;
  background: #fff;
}
.sidebar .cart:hover {
  border: none;
  border-top: solid 1px #666;
}

.sidebar .cart .good {
  margin-bottom: 20px;
}

.sidebar .cart .good img {
  width: 100px;
  padding: 5px;
  border: solid 1px #aaa;
  border-radius: 5px;
  margin: 0 0 10px 20px;
}

.sidebar .cart .good h4 {
  margin-bottom: 5px;
  color: steelblue;
}

.sidebar .cart .good h4.num {
  display: inline-block;
  color: #888;
}

.sidebar .cart .good h4.num span {
  color: steelblue;
}

.sidebar .cart .good h4.price {
  display: inline-block;
  color: #888;
  padding-bottom: 10px;
  border-bottom: solid 1px #aaa;
  margin-bottom: 20px;
}

.sidebar .cart .good h4.price span {
  color: red;
}

.sidebar h3.sum {
  display: inline-block;
  padding: 10px;
  border: solid 1px red;
  border-radius: 5px;
}

.sidebar .cart h3.link {
  display: inline-block;
  color: steelblue;
  transition: 0.3s;
}
.sidebar .cart h3.link:hover {
  color: #000;
}

.sidebar .cart .good > span {
  display: inline-block;
  width: 15px;
  height: 15px;
  padding: 5px;
  color: #fff;
  line-height: 15px;
  background: rgba(255, 0, 0, 0.8);
  border-radius: 50%;
  position: relative;
  top: -110px;
  left: -15px;
  z-index: 10;
  transition: 0.3s;
}
.sidebar .cart .good > span:hover {
  transform: scale(120%);
}

.good-list {
  width: 100%;
  margin: 30px 0 50px 20px;
}

.good-list th {
  color: #666;
  padding: 10px;
  text-align: left;
  border-bottom: solid 1px #666;
}

.good-list td {
  padding: 10px;
}

.good-list img {
  width: 100px;
  padding: 5px;
  border: solid 1px #aaa;
  border-radius: 5px;
  cursor: pointer;
}

.good-list .link {
  color: steelblue;
  cursor: pointer;
}
.good-list .link:hover {
  text-decoration: underline;
}

.good-list .delete {
  width: 30px;
  height: 30px;
  color: #fff;
  font-size: 30px;
  text-align: center;
  line-height: 30px;
  background: rgba(255, 0, 0, 0.8);
  border: solid 1px #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}
.good-list .delete:hover {
  transform: scale(120%);
}

.good-list .edit {
  width: 30px;
  height: 30px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
  background: steelblue;
  border: solid 1px #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}
.good-list .edit:hover {
  transform: scale(120%);
}

.good-list table tr:nth-child(odd) {
  color: steelblue;
  cursor: pointer;
}

.good-list table td {
  padding: 0;
  text-align: center;
}

.good-list textarea {
  width: 240px;
  border: solid 1px #bbb;
  color: #666;
  padding: 0 10px;
  border-radius: 5px;
}

.good-list input {
  width: 100px;
  padding: 10px;
  border: solid 1px #bbb;
  color: #666;
  border-radius: 5px;
}

.good-list select {
  padding: 10px;
  border: solid 1px #bbb;
  color: #666;
  border-radius: 5px;
}

.sidebar .incart {
  margin: 30px;
  padding: 0;
  border: none;
  background: #fff;
  cursor: auto;
}
.sidebar .incart:hover {
  border: none;
}

.sidebar .incart h3 {
  width: 150px;
}

.sidebar .incart .sale {
  display: inline-block;
  padding: 10px;
  border: solid 1px steelblue;
  border-radius: 5px;
  color: steelblue;
  cursor: pointer;
  box-shadow: 0 2px 4px #888;
  transition: 0.3s;
}
.sidebar .incart .sale:hover {
  background: steelblue;
  color: #fff;
}
.sidebar .incart .sale:active {
  box-shadow: 0 1px 4px #888;
  transform: translateY(4px);
}

.order {
  margin: 30px 30px 50px 480px;
  width: 320px;
  text-align: center;
}

.order div {
  margin-bottom: 30px;
}

.order p {
  margin: 10px;
}

.order input,
.order button {
  display: block;
  margin: 20px auto;
  padding: 10px;
  border: solid 1px #888;
  border-radius: 5px;
}

.not_found {
  margin: 40px 0 0 30px;
}